// Base
.icon {
  display: inline-block;
  width: $font-size-base;
  height: $font-size-base;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

a[href*="mailto:"],
a[href*="tel:"] {
  white-space: nowrap;
}

html {
  font-size: 16px;

  // @include media-breakpoint-down(xl) {
  //   font-size: 14px;
  // }
}

.btn {
  letter-spacing: 0.02em;
  box-shadow: none !important;

  &-primary {
    color: #fff;

    &:hover,
    &:active,
    &:focus {
      color: #fff;
    }
  }

  &-light {
    color: $gray-700;
  }

  &-link {
    padding: 0;
    letter-spacing: 0;
    font-size: $input-font-size;
    border: none;

    &:hover {
      text-decoration: none;
    }
  }

  &-danger {
    color: #fff;

    &:hover,
    &:focus,
    &:active {
      color: #fff;
    }
  }
}

.bg-light {
  background-color: $gray-10 !important;
}

.page-item + .page-item {
  margin-left: 0.5rem;
}

.page-link {
  font-size: $pagination-font-size;
  line-height: calc(#{$pagination-size} - 2px);
  font-weight: $pagination-font-weight;
  width: $pagination-size;
  height: $pagination-size;
  text-align: center;
  border-radius: $pagination-border-radius;

  .icon {
    width: $pagination-icon-size;
    height: $pagination-icon-size;
  }
}

.form-label {
  line-height: $form-label-line-height;
}

.form-check-input:checked[type=checkbox] {
  background-size: 13px 13px;
}

.form-check-input[type="radio"] {
  background-size: 0.8125rem;
}

.form-check-input[type=radio] {
  border-radius: $form-check-input-border-radius;
}

.form-check-input:checked[type=radio] {
  background-image: $form-check-input-checked-bg-image;
}

.form-check-label {
  font-size: $input-font-size;
  line-height: $input-line-height;
  font-weight: $form-label-font-weight;
}

.form-control[type=file] {
  border: none;
  box-shadow: none;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: transparent;
  border-color: transparent;
  padding-left: .75rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-weight: 500;
  font-size: .875rem;
}

textarea.form-control:disabled,
textarea.form-control[readonly] {
  resize: none;
  height: auto !important;
}

.is-valid .form-control,
.form-control.is-valid,
.is-invalid .form-control,
.form-control.is-invalid,
.was-validated .form-control:valid,
.was-validated .form-control:invalid {
  background-image: none;
  padding-right: $input-padding-x;

  @include media-breakpoint-down(lg) {
    padding-right: $input-padding-x * 2;
  }
}

.is-valid::after,
.is-invalid::after {
  content: '';
  width: 1.25rem;
  height: 1.25rem;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -2rem;

  @include media-breakpoint-down(lg) {
    right: $input-padding-x / 3;
  }
}

.is-valid::after {
  background-image: $form-feedback-icon-valid;
}

.is-invalid::after {
  background-image: $form-feedback-icon-invalid;
}

.btn-group-vertical > .btn,
.btn-group > .btn {
  flex: inherit;
}

.container {
  @include media-breakpoint-down(lg) {
    max-width: 100%;
  }
}

.table {
  th {
    font-size: $input-font-size;
    line-height: $input-line-height;
    font-weight: $form-label-font-weight;
    vertical-align: middle;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;

    & > div {
      border-left: 1px solid $gray-300;
      padding-left: $table-cell-padding-x;
      padding-right: $table-cell-padding-x;
    }

    &:first-child {
      div {
        border-left: none;
        padding-left: 0;
      }
    }
  }

  td {
    font-size: $table-font-size;
    line-height: $table-line-height;
    height: 2rem;
    vertical-align: middle;
    padding-right: 0;

    & > div { /* stylelint-disable-line no-descending-specificity */
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.form-check-label,
.dropdown-item {
  cursor: pointer;
}

.dropdown-menu li + li {
  border-top: 1px solid $gray-300;
}

.card {
  position: relative;
  transition: $transition-base;

  &-title {
    font-size: $input-font-size;
    line-height: $input-line-height;
    font-weight: $form-label-font-weight;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &:hover,
  &:focus {
    background: #fff;
    border-color: #fff;
    box-shadow: $box-shadow-lg;
    z-index: 5;

    .card-title a {
      color: $blue;
    }
  }
}

.card-text {
  font-size: $small-font-size;
  line-height: $small-line-height;
}

small {
  font-size: $small-font-size;
  line-height: $small-line-height;
}
