// Components

html,
body {
  width: 100%;
}

.project {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.lg {
  max-width: 1366px;
  width: 100%;
  min-height: calc(100vh - 240px);
  overflow: hidden;
}

.lg > .row {
  min-height: inherit;
}

.lg .btn-group-vertical {
  display: flex;
}

@media (min-width: 992px) {
  .lg #offcanvasMenu {
    max-width: 90%;
  }
}

@media (max-width: 1199.98px) {
  .lg {
    min-height: inherit;
  }
}

.md {
  max-width: 980px;
  width: 100%;
  min-height: calc(100vh - 240px);
}

.sm {
  max-width: 562px;
  width: 100%;
  min-height: calc(100vh - 240px);
}

.sm-x {
  max-width: 590px;
}

@media (max-width: 991.98px) {
  .project {
    padding: 30px 8px;
  }

  .sm {
    padding: 0 8px;
  }

  .md,
  .sm {
    min-height: inherit;
  }
}

.logo-md {
  max-width: 332px;
  width: 100%;
}

.logo-xs {
  max-width: 215.45px;
  width: 100%;
}

.form-check.radio .form-check-input {
  width: .9375rem;
  height: .9375rem;
  margin-left: -1.3125rem;
  margin-top: .3125rem;
  border-color: #213a5c;
  background-size: .5625rem;
  border-radius: 50%;
}

.form-check.radio .form-check-input:checked[type=radio] {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9'><circle cx='4.5' cy='4.5' r='4.5' fill='#1479ff'/></svg>");
}

.form-check.radio .form-check-label {
  font-size: .875rem;
  line-height: 1.3125rem;
  font-weight: 400;
}

.form-check.radio {
  padding-left: 1.3125rem;
  margin-bottom: 0;
}

.btn-group-vertical {
  padding-top: 2.625rem;
}

.btn-group-vertical .btn,
.btn-group .btn {
  text-decoration: none;
  font-size: .9375rem;
  line-height: 1.375rem;
  font-weight: 500;
  // padding: .875rem 1.25rem .875rem 1.875rem;
  padding: .75rem 1.25rem .75rem 1.5rem;
  border-radius: 0 !important;
  display: flex;
  width: 100%;
  position: relative;
}

.btn-group-vertical .btn[data-bs-toggle="collapse"]::after,
.btn-group .btn[data-bs-toggle="collapse"]::after {
  content: '';
  position: absolute;
  width: .75rem;
  height: .75rem;
  top: 50%;
  right: .625rem;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-outside-1' maskUnits='userSpaceOnUse' x='0.130255' y='-0.414214' width='11.3137' height='11.3137' fill='black'%3E%3Crect fill='white' x='0.130255' y='-0.414214' width='11.3137' height='11.3137'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.95093 4.83618L1.3608 5.42631L5.78711 9.85263L10.2134 5.42631L9.62328 4.83618L5.78711 8.67235L1.95093 4.83618Z'/%3E%3C/mask%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.95093 4.83618L1.3608 5.42631L5.78711 9.85263L10.2134 5.42631L9.62328 4.83618L5.78711 8.67235L1.95093 4.83618Z' fill='%23364A58'/%3E%3Cpath d='M1.3608 5.42631L1.00724 5.07276L0.653689 5.42631L1.00724 5.77987L1.3608 5.42631ZM1.95093 4.83618L2.30449 4.48262L1.95093 4.12907L1.59738 4.48262L1.95093 4.83618ZM5.78711 9.85263L5.43355 10.2062L5.78711 10.5597L6.14066 10.2062L5.78711 9.85263ZM10.2134 5.42631L10.567 5.77987L10.9205 5.42631L10.567 5.07276L10.2134 5.42631ZM9.62328 4.83618L9.97684 4.48262L9.62328 4.12907L9.26973 4.48262L9.62328 4.83618ZM5.78711 8.67235L5.43355 9.0259L5.78711 9.37946L6.14066 9.0259L5.78711 8.67235ZM1.71435 5.77987L2.30449 5.18973L1.59738 4.48262L1.00724 5.07276L1.71435 5.77987ZM6.14066 9.49907L1.71435 5.07276L1.00724 5.77987L5.43355 10.2062L6.14066 9.49907ZM9.85987 5.07276L5.43355 9.49907L6.14066 10.2062L10.567 5.77987L9.85987 5.07276ZM9.26973 5.18973L9.85987 5.77987L10.567 5.07276L9.97684 4.48262L9.26973 5.18973ZM9.26973 4.48262L5.43355 8.3188L6.14066 9.0259L9.97684 5.18973L9.26973 4.48262ZM6.14066 8.3188L2.30449 4.48262L1.59738 5.18973L5.43355 9.0259L6.14066 8.3188Z' fill='%23364A58' mask='url(%23path-1-outside-1)'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-top: -.5rem;
}

.btn-group-vertical .btn[data-bs-toggle="collapse"]:hover::after,
.btn-group .btn[data-bs-toggle="collapse"]:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-outside-1' maskUnits='userSpaceOnUse' x='0.130255' y='-0.414214' width='11.3137' height='11.3137' fill='black'%3E%3Crect fill='white' x='0.130255' y='-0.414214' width='11.3137' height='11.3137'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.95093 4.83618L1.3608 5.42631L5.78711 9.85263L10.2134 5.42631L9.62328 4.83618L5.78711 8.67235L1.95093 4.83618Z'/%3E%3C/mask%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.95093 4.83618L1.3608 5.42631L5.78711 9.85263L10.2134 5.42631L9.62328 4.83618L5.78711 8.67235L1.95093 4.83618Z' fill='%23fff'/%3E%3Cpath d='M1.3608 5.42631L1.00724 5.07276L0.653689 5.42631L1.00724 5.77987L1.3608 5.42631ZM1.95093 4.83618L2.30449 4.48262L1.95093 4.12907L1.59738 4.48262L1.95093 4.83618ZM5.78711 9.85263L5.43355 10.2062L5.78711 10.5597L6.14066 10.2062L5.78711 9.85263ZM10.2134 5.42631L10.567 5.77987L10.9205 5.42631L10.567 5.07276L10.2134 5.42631ZM9.62328 4.83618L9.97684 4.48262L9.62328 4.12907L9.26973 4.48262L9.62328 4.83618ZM5.78711 8.67235L5.43355 9.0259L5.78711 9.37946L6.14066 9.0259L5.78711 8.67235ZM1.71435 5.77987L2.30449 5.18973L1.59738 4.48262L1.00724 5.07276L1.71435 5.77987ZM6.14066 9.49907L1.71435 5.07276L1.00724 5.77987L5.43355 10.2062L6.14066 9.49907ZM9.85987 5.07276L5.43355 9.49907L6.14066 10.2062L10.567 5.77987L9.85987 5.07276ZM9.26973 5.18973L9.85987 5.77987L10.567 5.07276L9.97684 4.48262L9.26973 5.18973ZM9.26973 4.48262L5.43355 8.3188L6.14066 9.0259L9.97684 5.18973L9.26973 4.48262ZM6.14066 8.3188L2.30449 4.48262L1.59738 5.18973L5.43355 9.0259L6.14066 8.3188Z' fill='%23fff' mask='url(%23path-1-outside-1)'/%3E%3C/svg%3E%0A");
}

.btn-group-vertical .btn[aria-expanded="true"]::after {
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-outside-1' maskUnits='userSpaceOnUse' x='0.130255' y='-0.414214' width='11.3137' height='11.3137' fill='black'%3E%3Crect fill='white' x='0.130255' y='-0.414214' width='11.3137' height='11.3137'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.95093 4.83618L1.3608 5.42631L5.78711 9.85263L10.2134 5.42631L9.62328 4.83618L5.78711 8.67235L1.95093 4.83618Z'/%3E%3C/mask%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.95093 4.83618L1.3608 5.42631L5.78711 9.85263L10.2134 5.42631L9.62328 4.83618L5.78711 8.67235L1.95093 4.83618Z' fill='%23fff'/%3E%3Cpath d='M1.3608 5.42631L1.00724 5.07276L0.653689 5.42631L1.00724 5.77987L1.3608 5.42631ZM1.95093 4.83618L2.30449 4.48262L1.95093 4.12907L1.59738 4.48262L1.95093 4.83618ZM5.78711 9.85263L5.43355 10.2062L5.78711 10.5597L6.14066 10.2062L5.78711 9.85263ZM10.2134 5.42631L10.567 5.77987L10.9205 5.42631L10.567 5.07276L10.2134 5.42631ZM9.62328 4.83618L9.97684 4.48262L9.62328 4.12907L9.26973 4.48262L9.62328 4.83618ZM5.78711 8.67235L5.43355 9.0259L5.78711 9.37946L6.14066 9.0259L5.78711 8.67235ZM1.71435 5.77987L2.30449 5.18973L1.59738 4.48262L1.00724 5.07276L1.71435 5.77987ZM6.14066 9.49907L1.71435 5.07276L1.00724 5.77987L5.43355 10.2062L6.14066 9.49907ZM9.85987 5.07276L5.43355 9.49907L6.14066 10.2062L10.567 5.77987L9.85987 5.07276ZM9.26973 5.18973L9.85987 5.77987L10.567 5.07276L9.97684 4.48262L9.26973 5.18973ZM9.26973 4.48262L5.43355 8.3188L6.14066 9.0259L9.97684 5.18973L9.26973 4.48262ZM6.14066 8.3188L2.30449 4.48262L1.59738 5.18973L5.43355 9.0259L6.14066 8.3188Z' fill='%23fff' mask='url(%23path-1-outside-1)'/%3E%3C/svg%3E%0A");
  transform: rotate(180deg);
}

.btn-group-item {
  margin-bottom: .625rem;
  position: relative;
  width: 100%;
}

.panel .badge,
.btn-group-vertical .btn .badge,
.btn-group .btn .badge {
  width: 1.4375rem;
  height: 1.4375rem;
  line-height: 1.4375rem;
  padding: 0;
}

.btn-group-vertical .btn .icon,
.btn-group .btn .icon {
  width: 1.375rem;
  height: 1.375rem;
  color: #bac8db;
}

.btn-group-vertical .btn[aria-expanded="true"],
.btn-group-vertical .btn.active,
.btn-group-vertical .btn:active,
.btn-group-vertical .btn:focus,
.btn-group-vertical .btn:hover,
.btn-group .btn.active,
.btn-group .btn:active,
.btn-group .btn:focus,
.btn-group .btn:hover {
  color: #fff;
  background: #1479ff;
}

.btn-group-vertical .btn[aria-expanded="true"] .icon,
.btn-group-vertical .btn.active .icon,
.btn-group-vertical .btn:active .icon,
.btn-group-vertical .btn:focus .icon,
.btn-group-vertical .btn:hover .icon,
.btn-group .btn.active .icon,
.btn-group .btn:active .icon,
.btn-group .btn:focus .icon,
.btn-group .btn:hover .icon {
  color: #fff;
}

.btn-group-vertical ul {
  padding: 0 .25rem 1rem 1.875rem;
}

.btn-group-vertical a {
  font-size: .8125rem;
  line-height: 1.1875rem;
  letter-spacing: -0.01em;
  display: block;
}

.btn-group-vertical a.active,
.btn-group-vertical .active a {
  font-weight: 600;
}

.btn-group-vertical ul li + li {
  margin-top: .625rem;
}

@media (max-width: 1199.98px) {
  .btn-group-vertical .btn,
  .btn-group .btn {
    padding-left: 1rem;
    padding-right: .75rem;
  }
}

.file .form-label {
  font-weight: 500;
  margin-left: 1.375rem;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.file input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

@media (max-width: 991.98px) {
  .file {
    text-align: left;
  }

  .file .form-label {
    margin-left: 0;
    margin-top: .5rem;
  }
}

.file .btn { /* stylelint-disable-line no-descending-specificity */
  color: #fff;
  background: #cfdae8;
  flex-grow: 0;
  flex-shrink: 0;
}

.file .btn:hover {
  color: #000;
}

.pin .form-control {
  padding: 2px;
  height: 2.375rem;
  width: 2.375rem;
  text-align: center;
}

.step {
  letter-spacing: .02em;
}

.step strong {
  width: 3.1875rem;
  height: 3.1875rem;
  line-height: 3.1875rem;
  text-align: center;
  display: block;
  font-size: 1.125rem;
}

.step li + li { /* stylelint-disable-line no-descending-specificity */
  margin-top: 1.75rem;
}

.step li + li::before {
  content: '';
  position: absolute;
  width: 1px;
  background: #bac8db;
  height: 1.75rem;
  left: 1.59375rem;
  bottom: 100%;
}

.fsz-18 {
  font-size: 1.125rem;
  // line-height: 1.6875rem;
  line-height: 1.8125rem;
}

.panel {
  height: 3.75rem;
}

.panel .icon { /* stylelint-disable-line no-descending-specificity */
  width: 1.25rem;
  height: 1.25rem;
  color: #93a6bf;
}

.panel a span {
  margin-left: .75rem;
}

.panel a { /* stylelint-disable-line no-descending-specificity */
  margin-left: 2.625rem;
}

.panel a:hover .icon { /* stylelint-disable-line no-descending-specificity */
  color: #1479ff;
}

@media (max-width: 991.98px) {
  .panel a { /* stylelint-disable-line no-descending-specificity */
    margin-left: 2rem;
  }

  .panel a span {
    display: none;
  }

  .panel {
    position: relative !important;
  }
}

@media (max-width: 575.98px) {
  .panel a { /* stylelint-disable-line no-descending-specificity */
    margin-left: 1rem;
  }
}

#offcanvasMenu {
  width: 220px;
}

#offcanvasMenu .offcanvas-body {
  padding: 0;
}

@media (min-width: 992px) {
  #offcanvasMenu {
    position: static;
    visibility: visible;
    width: 100% !important;
    transform: none;
    border: none;
    display: block !important;
    height: 100%;
    box-shadow: none;
    max-width: 170px;
  }

  #offcanvasMenu .offcanvas-header {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .col-sm-auto .col-form-label {
    padding: 0;
  }

  .col .form-control:disabled,
  .col .form-control[readonly] {
    padding-left: 0;
  }
}

.table-x {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  width: calc(100% + 2.5rem);
}

.table-x th:first-child,
.table-x td:first-child {
  padding-left: 1.25rem;
}

.table-x th:last-child,
.table-x td:last-child {
  padding-right: 1.25rem;
}

.table-responsive::-webkit-scrollbar {
  -webkit-appearance: none;
}

.table-responsive::-webkit-scrollbar:vertical {
  width: .5rem;
}

.table-responsive::-webkit-scrollbar:horizontal {
  height: .5rem;
}

.table-responsive::-webkit-scrollbar-thumb { /* stylelint-disable-line no-descending-specificity */
  border-radius: .5rem;
  border: none;
  background-color: #274772;
}

@media (max-width: 991.98px) {
  .table-x {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    width: calc(100% + 1rem);
  }

  .table-x th:first-child,
  .table-x td:first-child {
    padding-left: .5rem;
  }

  .table-x th:last-child,
  .table-x td:last-child {
    padding-right: .5rem;
  }
}

@media (max-width: 767.98px) {
  .table-x {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.table-rounded th {
  border-bottom: 1px solid #bac8db !important;
  border-left: 1px solid #bac8db !important;
  height: 2.875rem;
  padding-top: .75rem;
}

.table-rounded th:first-child {
  border-left: none !important;
}

.table-rounded th div {
  border: none !important;
}

.table-rounded th,
.table-rounded td {
  padding-left: .875rem;
  padding-right: .875rem;
}

.table .form-control {
  height: 1.625rem;
  background: #fff;
  border-radius: .5rem;
  padding: 0 .5rem;
  font-size: .875rem;
  line-height: 1.5rem;
}

.table-auto {
  display: inline-block;
}

.table-auto .table {
  width: auto;
}

.table td.check {
  padding: 0;
}

.table td.check > div {
  border: 3px solid #f6ab60;
  padding-left: .875rem;
  padding-right: .875rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.calendar .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.calendar .btn .icon {
  width: 1.375rem;
  height: 1.375rem;
}

.icon-delete {
  opacity: .8;
}

.password input {
  letter-spacing: 0.205em;
  font-weight: 500;
}

.password .btn {
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: .75rem;
  padding-right: .75rem;
}

.password .btn .icon {
  width: 1.375rem;
  height: 1.375rem;
}

.password .btn:hover .icon,
.password .btn:active .icon,
.password .btn.active .icon {
  color: #bac8db;
}

.text-write {
  color: #a5b3c7;
}

.table .icon-delete,
.table .icon-close,
.close .icon-close {
  width: .875rem;
  height: .875rem;
}

.card .text-light .icon {
  color: #bac8db;
  width: 1.25rem;
  height: 1.25rem;
}

@media (max-width: 1199.98px) {
  .form-label br {
    display: none;
  }
}

.custom-select {
  position: relative;
  text-align: left;
}

.select-placeholder {
  color: #bac8db;
}

.custom-select select {
  display: none;
}

.select-selected::after {
  content: '';
  position: absolute;
  right: 1.1875rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
  background-size: 16px 12px;
  background-repeat: no-repeat;
  background-position: center;
}

.select-selected.select-arrow-active::after {
  transform: translateY(-50%) rotate(180deg);
}

.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  background: #fff;
  box-shadow: 0 1.25rem 3.75rem #b6c3d3;
  border-radius: .5rem;
  font-size: .875rem;
  line-height: 1.3125rem;
  overflow: hidden;
}

.select-items > div {
  padding: .625rem 1.25rem;
  cursor: pointer;
  user-select: none;
}

.select-items div + div {
  border-top: 1px solid #bac8db;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: #1479ff;
  color: #fff;
}

.select-mask {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.select-mask-active {
  opacity: 1;
  z-index: 4;
}

.calendar::before,
.dropdown-toggle::before {
  content: '';
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.calendar.on::before,
.dropdown-toggle.show::before {
  opacity: 1;
  z-index: 4;
}

.flatpickr.form-control:disabled,
.flatpickr.form-control[readonly] {
  padding: .9375rem 1.1875rem;
  border: 1px solid #bac8db;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.375;
}
