<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="bg-white btn-group-vertical h-100 justify-content-start">
            <div class="btn-group-item">
                <a href="bids.html" class="btn btn-link text-start active" aria-current="page">
                    <span class="position-relative me-3">
                        <svg class="icon icon-cart">
                            <use xlink:href="#icon-cart"></use>
                        </svg>
                    </span>
                    <span>My bids</span>
                </a>
            </div>
            <div class="btn-group-item">
                <a href="profile.html" class="btn btn-link text-start">
                    <span class="position-relative me-3">
                        <svg class="icon icon-profile">
                            <use xlink:href="#icon-profile"></use>
                        </svg>
                    </span>
                    <span>My Profile</span>
                </a>
            </div>
            <div class="btn-group-item">
                <a href="search-tenders.html" class="btn btn-link text-start">
                    <span class="position-relative me-3">
                        <svg class="icon icon-search">
                            <use xlink:href="#icon-search"></use>
                        </svg>
                    </span>
                    <span>Search for Tenders</span>
                </a>
            </div>
            <div class="btn-group-item">
                <a class="btn btn-link text-start" data-bs-toggle="collapse" href="#collapseMenu1" role="button" aria-expanded="false" aria-controls="collapseMenu1">
                    <span class="position-relative me-3">
                        <svg class="icon icon-mail">
                            <use xlink:href="#icon-mail"></use>
                        </svg>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
                            2
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </span>
                    <span>
                        Mail
                    </span>
                </a>
                <div class="collapse " id="collapseMenu1">
                    <ul class="list-unstyled mb-0 bg-primary text-white">
                        <li class="active">
                            <a href="inbox-messages.html" class="text-reset text-decoration-none">
                                Inbox
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-reset text-decoration-none">
                                Sent Messages
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-reset text-decoration-none">
                                New Messages
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-reset text-decoration-none">
                                Trash
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="btn-group-item">
                <a class="btn btn-link text-start" data-bs-toggle="collapse" href="#collapseMenu2" role="button" aria-expanded="false" aria-controls="collapseMenu2">
                    <span class="position-relative me-3">
                        <svg class="icon icon-settings">
                            <use xlink:href="#icon-settings"></use>
                        </svg>
                    </span>
                    <span>Settings</span>
                </a>
                <div class="collapse bg-primary text-white" id="collapseMenu2">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="password-change.html" class="text-reset text-decoration-none">
                                Change password
                            </a>
                        </li>
                        <li>
                            <a href="notifications-settings.html" class="text-reset text-decoration-none">
                                Notification settings
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-reset text-decoration-none">
                                E-mail settings
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-reset text-decoration-none">
                                SMS settings
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-reset text-decoration-none">
                                Activity Log
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>